Sphinx==7.4.7
IPython>=8.10.0
nbsphinx>=0.8.9
furo>=2025.7.19
mitsuba>=3.6.0
numpy==1.26.4
opencv-python<4.10.0
sphinx-basic-ng==1.0.0b2
sphinx-copybutton==0.5.1
sphinx-gallery==0.10.1
sphinx-tabs==3.4.7
sphinx_design==0.6.1
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sphinxcontrib-youtube==1.2.0